body{
    background-color: aliceblue;
}
.auth-container {
    width: 100vw;
    height: 80vh;
}

/*.auth-container img,*/
.auth-container .div-voisin-image {
    width: auto;
    height: auto;
    background-color: #fff;
    padding: 0 40px;
    border-radius: 30px;
}

@media (max-width:600px) {
    .auth-container .div-voisin-image {
        width: 85vw;
    }
}



.auth-container #btn-connexion,
.auth-container #btn-inscription {
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: #1a4589;
    margin: 25px auto;
    display: block;
    font-weight: bolder;
}



.auth-container form {
    width: 350px;
    text-align: center;
    padding: 30px;
}

.auth-container form h1 {
    margin: 40px auto;
    color: #1a4589;
    font-weight: bolder;
}

.auth-container .form-control {
    margin: 15px 0;
    padding: .6rem 1.2rem !important;
    outline: none;
    width: 100%;
    border-radius: 10px;
}

#btn-eyes-password {
    background-color: aliceblue;
    border-radius: 0 10px 10px 0;
    border: none;
    padding: .6rem 1.2rem !important;
}

#input-password {
    border-radius: 10px 0 0 10px;

}

.auth-container button[type="submit"] {
    margin: 15px auto;
    font-size: large;
    padding: .6rem 1.2rem !important;
    display: block;
    font-weight: 800;
}

.auth-container a {
    color: #1a4589;
    margin: 25px auto;
    display: block;
    font-weight: bolder;
}