 #display-article {
     margin: 50px auto;
     padding: 30px;
     text-align: center;
     width: 800px;

     #titre {
         margin-bottom: 70px;
         text-align: center;
     }

     #image {
         width: 700px;
         height: auto;
         object-fit: cover;
     }

     #contenu {
         padding: 30px 0;
         text-align: left;
         font-size: 18px;
     }


     h2 {
         margin-top: 25px;
     }
 }


 #formCreationComments {
     width: 800px;
     margin: 50px auto;
     padding: 30px;
 }

 .div-all-comments {
     width: 800px;
     margin: 50px auto;
     padding: 30px;

     h2 {
         border-bottom: 0.2px solid black;
         padding: 8px 0;
     }

     .div-un-commentaire {
         border-bottom: 0.2px solid black;
         margin: 15px 0;
     }

     #auteur {
         color: #555;
     }

     #message {
         padding: 8px 0;
     }
 }